example/compile_files/*
.DS_Strore
src/model/.DS_Store
src/model/slprj/*
src/model/model01_rsim_rtw/
src/.DS_Store
src/model/data/*
slprj/*
*.log
src/dependences/Crops-Simulations-KPI/dependences/*
src/dependences/Crops-Simulations-KPI/slprj/*
*slxc
src/dependences/Crops-Simulations-KPI/rl.mat
src/dependences/Crops-Simulations-KPI/rl365.mat
src/dependences/Crops-Simulations-KPI/rl365_2.mat
src/dependences/Crops-Simulations-KPI/rl_365.mat
